.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-bottom: 32px solid var(--tertiary);
}

.header {
  height: 64px;
  background-color: var(--primary);
  box-shadow: 0 2px 1px #000000aa;
  z-index: 10;
}

.content {
  height: 64px;
  max-width: calc(1280px + 4rem);
  margin: auto;
  display: flex;
  user-select: none;
}

.logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.logo img {
  width: 320px;
  padding: 0.5rem 1rem;
  margin: 0 2rem 0 2rem;
  background-color: var(--primary);
  border-radius: 0 0 24px 24px;
  box-shadow: 0 2px 1px #000000aa
}

.hero {
  width: 100%;
  height: 256px;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  box-shadow: inset 0 -16px 64px var(--tertiary);
}

.hero:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(to bottom, var(--primary), var(--tertiary));
  filter: opacity(50%);
}

.hero .title {
  color: var(--white);
  font-size: 2.5em;
  text-shadow: 0px 0px 8px black;
  z-index: 10;
}


.navigation {
  height: 100%;
}

.navigation ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  height: 100%;
  
}

.navigation ul li a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  text-decoration: none;
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
}

.navigation ul li:hover {
  background-color: var(--white);
}

.navigation ul li:hover a {
  color: var(--text);
}

@media (max-width: 1024px) {
  .navigation {
    visibility: hidden;
  }
}

@media (max-width: 480px) {
  .header {
    background-color: transparent;
    height: unset;
  }

  .logo {
    width: 100%;
    height: 128px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    top: 0;
  }

  .logo img {
    padding: 0;
    width: auto;
    height: 128px;
    border-radius: 0;
    box-shadow: none;
  }

  .hero {
    position: relative;
    height: 128px;
  }

  .hero .title {
    font-size: 2em;
    text-align: left !important;
  }
}